{% extends "layout.html" %}

{% block body %}
<style>
    .dashboard-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    h1 {
        text-align: center;
    }
</style>
<div class="dashboard-container">
    <iframe title="DSS 463 Project asıl" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=73a5b17b-8b1e-47d5-9d5e-7e7457d3d9cc&autoAuth=true&ctid=7d6722ae-0c2d-4abf-8151-90e590a56e3b" frameborder="0" allowFullScreen="true"></iframe>
</div>
{% endblock body %}